.carousel__container {
  width: 100%;
  height: 80vh;
}

.swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide a {
  text-decoration: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
  transition: 0.1s;
}

.active .swiper-button-next::after, .active .swiper-button-prev::after {
  background-color: rgba(137, 43, 226, 0.538);
}