a {
  text-decoration: none;
}

.card {
  width: 100%;
  height: 350px;
  cursor: pointer;
  margin-bottom: 8px;
}

.container__image {
  height: 250px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: 0.2s;
}

.card__image {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}

.card:hover .container__image {
  border-color: #1496c4;
}

.card:hover .card__image {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.title__media {
  color: white;
  height: 100px;
  overflow: hidden;
}

.card.active .title__media {
  color: black;
}

.card.active:hover .container__image {
  border-color: blueviolet;
}

@media (min-width: 1400px) {
  .card {
    height: 500px;
  }

  .container__image {
    height: 400px;
  }

  .title__media {
    font-size: 20px;
  }
}