.mainCarousel__container {
  margin-bottom: 3rem;
}

.container__loader {
  width: 100%;
  min-height: 90vh;
  padding-top: 60px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  .container__loader {
    margin-top: 60px;
    padding-right: 100px;
  }
}
