.swiper {
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  padding: 13px;
  display: flex;
  justify-content: center;
  background-color: #1495c485;
  border-radius: 8px;
}

.active .swiper-button-next::after, .active .swiper-button-prev::after {
  background-color: rgba(137, 43, 226, 0.538);
}

.category__container {
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.category__container a {
  display: flex;
  align-items: center;
  color:#e5e5e5;
  margin-bottom: 16px;
  transition: 0.2s;
}

.active .category__container a {
  color: black;
}

.category__container a:hover {
  color: white;
}

.arrow__icon {
  transition: 0.2s;
}

.category__container a:hover .arrow__icon {
  color: #1496c4;
  margin-left: 8px;
}

.active .category__container a:hover .arrow__icon {
  color: blueviolet;
}

.hide {
  display: none;
}