.swiper {
  width: 100%;
  margin-bottom: 1rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.category__container {
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.category__container a {
  display: flex;
  align-items: center;
  color:#e5e5e5;
  margin-bottom: 16px;
  transition: 0.2s;
}

.category__container a:hover {
  color: white;
}

.arrow__icon {
  transition: 0.2s;
}

.category__container a:hover .arrow__icon {
  color: #1496c4;
  margin-left: 8px;
}

.hide {
  display: none;
}