.swiper {
  width: 100%;
  margin-bottom: 2rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
  font-size: 1.5rem;
  margin-top: -80px;
}

.category__container {
  margin-left: 20px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}