.containerNav {
  width: 100%;
  height: 60px;
  background-color: #141414;
  /* border-bottom: 1px solid whitesmoke; */
  color: whitesmoke;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.containerHamburguerNav {
  width: 40%;
  display: flex;
  font-size: 25px;
  align-items: center;
}

.containerLogo {
  width: 20%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

.logo {
  width: 30px;
}

.containerSearch {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: 20px;
  align-items: center;
}

.menuMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  padding: 10px;
  font-size: 20px;
  position: fixed;
  z-index: 0;
  transition: 0.3s left ease;
}

.containerInput {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 10px;
  background-color: #303030;
  border-radius: 5px;
  margin-left: 5px;
}

.inputSearch {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 10px 35px;
  background-color: #303030;
  border-radius: 5px;
  outline-style: none;
  border: none;
  color: white;
}

.iconSearch {
  color: whitesmoke;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.iconClose {
  left: unset;
  right: 12px;
}
