.NavBarMobile {
  display: block;
  height: 80px;
}

.NavBarDesktop {
  display: none;
}

@media (min-width: 550px) {
  .NavBarMobile {
    display: none;
  }

  .NavBarDesktop {
    display: block;
  }
}
