footer {
  box-sizing: border-box;
  width: 100%;
  color: #ffffffb3;
  font-size: 16px;
  background-color: #141414;
  margin-top: 2rem;
  padding: 10px 5%;
}

.authorsContainer {
  display: flex;
  justify-content: space-evenly;
}

.contactAuthor {
  width: 150px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.2s;
  cursor: default;
}

.contactAuthor:hover {
  color: white;
}

.linksContainer {
  width: 100%;
  margin: 12px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.linksContainer a {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #ffffffb3;
  border-radius: 100%;
  transition: 0.2s;
}

.linksContainer a:hover {
  background-color: white;
}

.iconsFooter {
  font-size: 1.5rem;
  color: black;
}

.linksContainer a:hover .iconsFooter {
  color: purple;
}

.linksContainer:nth-child(1) {
  margin-right: 4px;
}

.linksContainer:nth-child(2) {
  margin-left: 4px;
}

.copyrightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  font-size: 10px;
}

.copyrightContainer p {
  margin: 0;
}

@media (min-width: 700px) {
  footer {
    display: flex;
    justify-content: space-between;
  }

  .authorsContainer {
    width: 50%;
    justify-content: unset;
  }

  .copyrightContainer {
    justify-content: center;
  }
}