footer {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  color: #ffffffb3;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  background-color: #141414;
  margin-top: 2rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.authorsContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contactAuthor:hover {
  color: whitesmoke;
}

.contactAuthor {
  display: flex;
  align-items: center;
}

.iconsFooter {
  margin-left: 5px;
}

.copyrightContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.copyrightContainer:hover {
  color: whitesmoke;
}

@media (max-width: 300px) {
  .copyrightContainer {
    width: 80%;
    font-size: 9px;
    margin-top: 5px;
  }
}

@media (max-width: 360px) {
  .authorsContainer,
  .copyrightContainer {
    margin: 0 10px;
    font-size: 10px;
    margin-top: 5px;
  }
}

@media (min-width: 550px) {
  footer {
    font-size: 16px;
    padding-inline: 10%;
  }

  .iconsFooter {
    font-size: 20px;
  }
}
