.main__container {
  margin-top: calc(3rem + 100px);
  margin-inline: 5%;
  min-height: 100vh;
}

.search__title {
  margin-bottom: 16px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.main__container.active .search__title {
  color: black;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.pagination__container {
  display: flex;
  justify-content: center;
}

.container__loader {
  width: 100%;
  min-height: 90vh;
  margin-left: -30px;
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  .cards__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .container__loader {
    margin-top: 60px;
    margin-left: -50px;
  }
}

@media (min-width: 750px) {
  .cards__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 900px) {
  .cards__container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1050px) {
  .cards__container {
    grid-template-columns: repeat(6, 1fr);
  }
}
