.main__container {
  padding-top: 80px;
}

.allMoviesSeries__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.allMoviesSeries__title {
  margin-left: 20px;
  color: whitesmoke;
}

.container__pagination {
  width: 90%;
  margin: auto;
}

.container__loader {
  width: 100%;
  min-height: 90vh;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  .allMoviesSeries__container {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .allMoviesSeries__title {
    margin-left: 150px;
    color: whitesmoke;
  }

  .container__loader {
    margin-top: 60px;
    padding-right: 100px;
  }
}
